h1 {
    color: darkorange;  
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

#carte {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
}

.image {
    width: 200px; /* Taille des images */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    margin: 20px; /* Espacement entre les images */
    transition: transform 0.3s ease; /* Transition pour l'effet de survol */
}

.image:hover {
    transform: scale(1.1); /* Zoom au survol */
}

.texte {
    color: white;
}
