.flotte {
    float:left;
}

.center-text {
    text-align: center; /* Modification de la propriété text-align à "center" */
    margin: 0 auto; /* Ajout de la marge pour centrer horizontalement */
}

.body {
    background-color: black; 
}

.police {
    color: orange;
    text-align: center;
    margin: 0 auto;
}